<script>
function toggleDebug() {
  var x = document.getElementById("debug-response");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "block";
  }
}

</script>
<div class="p-4">
<button class="bg-slate-300 p-3" onclick="toggleDebug()">View Raw Response</button>
<div id="debug-response">
  <pre>{{ search_response|tojson(indent=4) }}</pre>
</div>
</div>