<div class="p-2"> 
  <form method="post" action="{{ url_for('search.query') }}" class="flex">
    <input name="query" id="query" type="search" value="{{ query|e }}" required class="flex-grow">
    <input type="submit" value="Query" class="p-2 bg-slate-200 mx-4">
    <select name="sort">
      <option value="_score" {% if sort == "_score" %}selected{% endif %} >Relevance</option>
      <option value="name.keyword" {% if sort == "name.keyword" %}selected{% endif %}>Name</option>
      <option value="salesRankShortTerm" {% if sort == "salesRankShortTerm" %}selected{% endif %}>Popularity</option>
      <option value="regularPrice" {% if sort == "regularPrice" %}selected{% endif %}>Price</option>
    </select>
    <select name="sortDir">
      <option value="asc" {% if sortDir == "asc" %}selected{% endif %}>Ascending</option>
      <option value="desc" {% if sortDir == "desc" %}selected{% endif %}>Descending</option>
    </select>
  </form>
</div>